// $Id$ tiki-selector-variables.scss file, to provide values for "legacy" Tiki CSS selectors (not covered by Bootstrap).
// These Raspberry theme option values are used by themes/fivealive/less/_tiki-selectors.scss

$imagePath: "../images/";
$imagePathTop: "../../../images/";
$side-column-border: none;
$side-column-panel-heading-background: #ffffff;
// #f5399c
$side-column-panel-title-color: #e60b7f;
// #3f1020;
$side-column-panel-heading-border-color: #e60b7f;
$side-column-panel-heading-border-width: 0 0 1px 0;
$header_outer-background: url('#{$imagePath}siteheadertile.png') 0 0 no-repeat;
$header_container-background: url('#{$imagePathTop}header_left.png') 0 0 no-repeat;
$header_container_header-background: url('#{$imagePath}siteheader.png') -248px 0 no-repeat;
$form-control-background: #f9dcec;
$form-control-border-colors: #fa9ccd #fcf6f9 #fcf6f9 #fa9ccd;
$footer-color: #f4f4f4;
$footer-border-color: #eb0a82;
$footer-link-color: #eb0a82;
$navbar-default-navbar-nav-li-a-background: #e60b7f;
$postbody-title-background: url('#{$imagePath}siteheader.png') no-repeat -480px -200px;
$postbody-title-color: #ffffff;
$brand-primary-of-option: $brand-primary;

.navbar-nav > li.dropdown {
	border-bottom: 1px solid $btn-primary-bg;
}
