// $Id$
// This file is for additional LESS rules beyond what are in variables.scss.
// Image path example:
$imagePath: "../images/";
// body {
//	background-image: url('#{$imagePath}bg.jpg');
// }
//
// If Glyphicons should be rendered in a color other than the Bootstrap default or the theme default, uncomment and specify the color.
// .glyphicon {color: $gray-lighter;}

$topmodules-row-sidemargins: 0;
$topbar-row-sidemargins: -15px;

body,
body.fullscreen {
	background: url('#{$imagePath}flakesptn2.jpg');
	background-attachment: fixed;
}

header.container {
	margin-top: 20px;
}

.topbar {
	margin-bottom: 20px;
}

.layout_social .navbar-fixed-top,
.layout_social .navbar-fixed-top .container,
.navbar-light,
.topbar,
.topbar .cssmenu_horiz > ul,
.topbar .navbar-light .navbar-nav > li,
.topbar .nav > li,
.layout_social .navbar-dark .navbar-form,
.layout_social .navbar-dark .container {
	background: url('#{$imagePath}flakesptn3.jpg');
	border: none;
}

.layout_classic header.container,
.layout_classic .middle.container,
.layout_classic .footer_liner,
.layout_social > .container,
.layout_basic > .container {
	background: lighten(#d7e5f3, 5%);
	-webkit-box-shadow: 0 0 70px 72px rgba(255, 255, 255, 1);
	box-shadow: 0 0 100px 100px rgba(235, 242, 249, 1);
}

.layout_social .navbar-dark {
	border-bottom: 1px solid #6c7b8c;
}

// Some of this at least should be set in bootstrap-variables.scss.
.navbar-dark .navbar-brand,
.navbar-dark a,
.navbar-dark .navbar-nav > li > a {
	color: #1c1329;
}

.layout_social > .container {
	margin-top: $navbar-fixed-height;
}

.well,
.jumbotron,
.adminanchors {
	background: url('#{$imagePath}flakesptn4.jpg')
}

.card {
	background: #d7e5f3; // url('#{$imagePath}flakesptn2.jpg');
}

.card-heading,
.card-footer {
	background: url('#{$imagePath}flakesptn3.jpg')
}

.blog-postbody-title h2.card-title { font-size: 1.3rem; }

#col2,
#col3 {
	.card,
	.card-primary {
		background: none;
		border: none;
	}
	.card-footer {
		display: none;
	}

}

.topbar {
	.navbar-light {
		background: transparent;
		border: none;
	}
	.form-group {
		margin-bottom: 0;
	}
}

.btn,
.btn-primary,
.nav-tabs > li > a,
.input-group-addon {
	background: url('#{$imagePath}pagetitle-bg.jpg');
	background-size: cover;
	&:hover {
		background: url('#{$imagePath}pagetitle-bg.jpg') 0 100% cover;
	}
}

.btn:not(btn-link),
.nav-tabs > li > a {
	border-width: 2px;
}

.btn-link {
	border: none;
	background: none;
}

.cssmenu_horiz li ul,
.cssmenu_vert li ul {
	padding: 5px 0;
	margin: 2px 0 0; // override default ul
	//  font-size: $font-size-base;
	background: url('#{$imagePath}flakesptn2.jpg');
	border: 1px solid $dropdown-border-color;
	border-radius: $border-radius;
	@include box-shadow(0 6px 12px rgba(0, 0, 0, .175));
	-webkit-background-clip: padding-box;
	background-clip: padding-box;

	// Links within the dropdown menu
	> li > a {
		padding: 3px 20px;
		font-weight: normal;
		line-height: $line-height-base;
		color: $dropdown-link-color;
		//    background: url('#{$imagePath}flakesptn2.jpg');
	}
}

// Hover/Focus state
.cssmenu_horiz > li > a,
.cssmenu_vert > li > a,
.cssmenu_horiz ul > li > a,
.cssmenu_vert ul > li > a {
	&:hover,
	&:focus {
		text-decoration: none;
		color: $dropdown-link-hover-color;
		//    background: url('#{$imagePath}flakesptn3.jpg');;
	}
}
