// $Id$
/* Journal theme newsletter stylesheet */
$web-font-path: "https://fonts.googleapis.com/css?family=News+Cycle:400,700" !default;
@import url($web-font-path);

@import "../../base_files/scss/newsletter.scss";
@import "_variables.scss";

$font-family-sans-serif:  "News Cycle", "Arial Narrow Bold", sans-serif;
//$font-family-base:        $font-family-serif;
$font-size-base:          15px;
